body,
html {
  width: 100vw;
  height: 100vh;
  /* background-color: #212121; */
}

#render-target {
  width: 100%;
  height: 100%;
  /* background-color: #212121; */
}

a {
  text-decoration: none;
}
